<%- include("partials/header"); -%>

<div class="fit-screen-width">
  <h1>Home</h1>
  <p><%= content %></p>
  <% postList.forEach(function(post) {%>
  <div>
    <h3><%= post.post_title %></h3>
    <p id="postBody">
      <%= post.post_body.slice(0,100) %>...
      <a href="/posts/<%=encodeURIComponent(post._id)%>">
        Read More
      </a>
    </p>
  </div>
  <% }); %>
</div>
<%- include("partials/footer"); -%>
